* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(158, 78, 165);
}

.main {
    width: 60%;
    height: 80vh;
    background-color: black;
    display: flex;
    align-items: center ;
    justify-content: space-around ;
    flex-direction: row;
}

/* .area {
    /* flex-grow: 1; */
    /* width: 100px;
    height: 100vh;
}  */

.item1 {
    /* flex: 1; */
    background-color: brown;
    width: 150px;
    height: 20vh;
    align-self: flex-start;
    margin-top: 30px;
}

.item2 {
    /* flex: 1; */
    background-color: darkgreen;
    width: 150px;
    height: 20vh;
}

.item3 {
    /* flex: 1; */
    background-color: blue;
    width: 150px;
    height: 20vh;
    align-self: flex-end;
    margin-bottom: 30px;
}