body {

    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;

}

.principal {

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* justify-content: center; */
}

.principal h1 {

    width: 510px;
    margin: 0;
    padding: 20px;
    border: 3px solid;
    border-radius: 20px;
    border-color: black;
    background-color: cyan;
    color: rgb(144, 19, 140);
    text-align: center;
    
    /* margin-top: 90px; */

    position: relative; 
    
    /* padding-left: 150px; */
    top: 55px;
    /* left: 210px; */
}

.principal p {

    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: deeppink;
    font-size: 20px;
    padding: 25px;


    position: relative;

    left: 0px;
    top: 30px;
}

.principal p:hover {
    color: rgb(11, 41, 105);
}

.redes-sociais h2 {
    text-align: center;
    font-size: 34px;
    font-style: italic;
    color: darkgreen;
}

.redes-sociais ul {
    padding: 0px;
    list-style: none;
    text-align: center;
}

.redes-sociais li {
    margin-bottom: 25px;
}

.redes-sociais a {
    border: solid 3px;
    border-radius: 10px;
    border-color: rgb(0, 0, 255);
    padding: 8px;
    font-size: 20px;
    text-decoration: none;

    color: crimson;
    background-color: rgb(214, 224, 224);
}

.redes-sociais a:hover {
    background-color: rgb(195, 9, 173);
}

.area h3 {
    border: 2px transparent;
    padding: 20px;
    width: 550px;
    text-align: left;
    font-size: 27px;

    /* position: relative; */

    /* left: 270px;
    top: 50px; */
}